@font-face { 
    font-family: "exensa";
    src: url("https://github.com/Gates84/Gates84.github.io/blob/eb5dc5920d7919fdbdd40e7b76a061b99abf3bdd/ExensaGrotesk-Regular.ttf");
}

.nav {
    justify-content: center;
    Width: 100%;
    height: 80px;
    text-align: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nav a {
    display: inline;
    color: #02C9CE;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    font-family: "exensa";
    font-size: 17px;
    border-bottom: 3px solid transparent
}

.nav ul {
    display: flex;
}

.nav ul a:hover {
    border-bottom: 3px solid #02C9CE;
}

.nav ul li {
    list-style: none;
    position: relative;
}

.nav ul li a {
    display: flex;
    font-family: "exensa";
    color: #02C9CE;
    font-size: 17px;
    padding: 15px 15px;
    text-decoration: none;
    text-align: center;
}

.nav ul li ul {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 80px;
    border-radius: 10px;
}

.nav ul li:hover ul {
    display: flex;
    flex-direction: column;
}

.nav ul li ul li {
    width: 34px;
}

.nav ul li ul li a {
    padding: 2px;
    justify-content: center;
}

.nav ul li ul li a:hover {
    border-bottom: 3px solid #E16060;
}

.nav a.active {
    border-bottom: 3px solid #E16060;
}
