body {
    Background-color: white;
    color: #6D6D6D;
    font-family: "Futura", medium, sans-serif;
    font-size: 17px;
}
h1 { 
    margin:0;
    padding: 30px;
    font-size: 36px;
    color:white;
    background-color: #06DFD7;
}
.topnav {
  overflow: hidden;
  width: 100%;
  background-color: white;
}
.topnav a {
  float: left;
  display: inline-block;
  color: #06DFD7;
  padding: 8px;
  text-decoration: none;
  width: 16.66%;
  text-align: center;
  font-family: "futura", sans-serif;
  font-size: 17px;
  border-bottom: 3px solid transparent;
}
.nav li{
    display:inline;
}
.topnav a:hover {
  border-bottom: 3px solid #06DFD7;
  padding: 8px;
    width: 16.66%;
}
.topnav a.active {
  border-bottom: 3px solid #06DFD7;
}

h3 {
    color: #6D6D6D; 
    margin-left: 60px;
    padding: 20px;
}
p {
    text-align: left;
    text-indent: 30px;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 10px;
    padding-bottom:0px;
}
div {
    padding:80px;
}
footer {
    padding-left: 60px;
    background-color: #F6F6F6;
}
