body {
    Background-color: white;
    color: #6D6D6D;
    font:Futura;
    font-size: 100%;
    margin:0 auto;
    padding: 20px;
}
h1 { 
    margin:0;
    padding: 40px;
    font-size: 300%;
    color:white;
    background-color: #06DFD7;
}
img {
    float: right;
    margin: 0 2em 2em 2em;
}
p {
    font-size: 120%;
        padding: 30px;
}
