@font-face { 
    font-family: "exensa";
    src: url("https://github.com/Gates84/Gates84.github.io/blob/eb5dc5920d7919fdbdd40e7b76a061b99abf3bdd/ExensaGrotesk-Regular.ttf");
}

body {
    background-color: white;
    color: #6d6d6d;
    font-family: "exensa";
    font-size: 17px;
}

h1 {
    margin: 0;
    padding-left: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 36px;
    color: white;
    background-color: #06dfd7;
}

h3 {
    font-size: 28px;
    color: #6d6d6d;
    padding-left: 100px;
    padding-top: 30px;
    padding-bottom: 10px;
}

p {
    font-family: "exensa";
    font-size: 20px;
}

img {
    max-width: 100%;
    display: block;
    justify-content: center;
}

main {
    display: contents;
    flex-wrap: wrap;
    grid-column: 1/4;
    grid-row: 3/4;
}

main p {
    text-align: left;
    text-indent: 30px;
    padding: 15px;
}

footer {
        text-align: center;
        background-image: url(https://gates84.github.io/footer%20background.png);
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 6;
        grid-row-end: 7;
        position: relative;
        bottom: 0px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: auto;
        margin-bottom: auto;
}

.wrapper {
    display: grid;
    grid-template-columns: 15% 35% 35% 15%;
    grid-template-rows: auto;
}

.header {
    display: block;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
    padding-bottom: 0px;
}

.nav {
    display: flex;
    flex-direction:row;
    width: 100%;
    margin: auto;
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
}

.about {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    font-size: 20px;
    padding-left: 50px;
    padding-right: 35px;
    padding-bottom: 70px;
}

.media {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 3;
    padding-top: 170px;
    justify-items: center;
}

iframe {
    width: 460px;
    height: 315px; 
}

.quote {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 5;
    background-color: lightgrey;
    text-align: center;
    width: 100%;
    height: 90px;
    font-size: 30px;
}

.pro_title {
    font-size: 40px;
    color: #6d6d6d;
    padding: 5px;
    text-align: center;
}

.reflection {
    text-align: left;
    text-indent: 30px;
}

.reflection p:first-child::first-letter {
    font-size: 150%;
    font-weight: bold;
}

.reflection p:first-of-type {
    text-indent: 0px;
}

.video {
    display: block;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.reslink {
    padding-left: 80px;
}

.reslink a {
    color: #06dfd7;
    text-decoration: none;
    text-align: center;
}

br {
    height: 50px;
}

.email {
    width: 2%;
    height: 2%;
    padding-left: 8px;
    padding-right: 8px;
    margin-top: auto;
    margin-bottom: auto;
}

.email:hover {
    width: 2.2%;
    height: 2.2%;
    padding-left: 8px;
    padding-right: 8px;
    margin-top: auto;
    margin-bottom: auto;
}

.phone {
    width: 2%;
    height: 2%;
    padding-left: 8px;
    padding-right: 8px;
    margin-top: auto;
    margin-bottom: auto;
}

.phone:hover {
    width: 2.2%;
    height: 2.2%;
    padding-left: 8px;
    padding-right: 8px;
    margin-top: auto;
    margin-bottom: auto;
}

.hello {
    padding-left: 80px;
}

.welcome {
    padding-left: 50px;
    padding-right: 50px;
}

@media (max-width: 620px) {
    .wrapper {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 11% 7% auto auto 7% 3%;
    }
    h1 {
        font-size: 24px;
        text-align: center;
    }
    .nav {
        font-size: 12px;
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
        justify-content: center;
        padding: 5px;
        margin: auto;
        display: block;
        float: left;
    }
    .nav ul li a {
        display: flex;
        font-family: "exensa";
        color: #06DFD7;
        font-size: 17px;
        padding: 5px;
        text-decoration: none;
        text-align: center;
    }
    .about {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 4;
        font-size: 16px;
        padding: 5px;
    }

    .media {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 4;
        grid-row-end: 5;
        padding-top: 8px;
    }

    iframe {
        width: 360px;
        height: 215px;   
    }

    .quote {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 5;
        grid-row-end: 6;
        background-color: lightgrey;
        padding: 5px;
        text-align: center;
        width: 100%;
        font-size: 18px;
    }
    .footer {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 6;
        grid-row-end: 7;
        position: relative;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    .email {
        width: 5%;
        height: 5%;
        padding-left: 8px;
        padding-right: 8px;
        align-content: center;
    }
    
    .email:hover {
        width: 6%;
        height: 6%;
        padding-left: 8px;
        padding-right: 8px;
    }
    
    .phone {
        width: 5%;
        height: 5%;
        padding-left: 8px;
        padding-right: 8px;
    }
    
    .phone:hover {
        width: 6%;
        height: 6%;
        padding-left: 8px;
        padding-right: 8px;
    }
/*Print stylesheet*/

@media print {
    .nav,
    .media {
        display: none;
    }
    
    .header {
        margin-bottom: 0;
        border: none;
        margin-left: 1in;
        margin-right: 1in;
    }

    h1 {
        color: black; 
        }

    }
    .body { 
        margin-bottom: 0;
        border: none;
        margin-left: 1in;
        margin-right: 1in;
        color: black;
    }

    footer { 
        margin-bottom: 0;
        border: none;
        color: black;
    }
}